/*----------------------------------
 * Custom CSS Styles
 * Derivative from https://github.com/glennraya
 * https://github.com/glennraya/vscode-settings-json/blob/main/custom-vscode.css
 *
 * Installation:
 * 1. Add the extension "Custom CSS and JS Loader" to VS Code
 * 2. Add the following to your settings.json:
 *    "vscode_custom_css.imports": ["file://path/to/vscode.css"]
 * 3. Allow Custom CSS and JS to modifiy installation:
 *    sudo chown -R $(whoami) "$(which code)"
 *    sudo chown -R $(whoami) /usr/share/code
 * 4. Reload Custom CSS and JS
 *--------------------------------- */
:root {
  --transition: opacity 0.3s !important;
  --titlecolor: transparent;
  --accent: #90846b;
}
.linux {
  font-family: "Liberation Sans" !important;
  font-weight: 450;
}

/*----------------------------------
 * Big Letterbox Logo
 *-------------------------------- */
.letterpress {
  background-image: none !important;
  position: relative;
  &::before {
    align-items: center;
    color: #0005 !important;
    content: '\F1719' !important;
    display: flex;
    font-family: 'Material Design Icons';
    font-size: 400px;
    justify-content: center;
    position: absolute;
    top:0px; left:0px;
    width:100%; height:100%;
  }
}

/*----------------------------------
 * Font and Color Tweaks
 *-------------------------------- */
div.window-title { order:2; font-weight:bold; color:var(--accent); }
div.title-label h2 { font-weight:bold !important; }
.codicon { color:var(--accent) !important; } 
.codicon.outline-element-icon { display:none; }
.codicon.codicon-breadcrumb-separator { color:#333 !important; }
.codicon.codicon-remote { color:#ebdbb2 !important; }


/*----------------------------------
 * Quick Command Palette
 *-------------------------------- */
.quick-input-widget {
  border-radius: 10px !important;
  box-shadow: 0px 8px 20px #0007 !important;
  padding: 10px 10px 18px 10px !important;
}
/* Command palette input box */
.quick-input-filter .monaco-inputbox {
  background-color: #151516 !important;
  border-radius: 12px !important;
  border: none !important;
  font-family: "Liberation Mono" !important;
  font-size: 16px !important;
  margin-bottom: 16px !important;
  padding: 8px !important;
}
.quick-input-titlebar {
  background-color: transparent !important;
  font-size: 18px;
  padding-bottom: 10px;
}
/* Terminal */
.xterm-screen canvas {
  border-radius: 8px !important;
}
/* 
 * Actions Container
 *  .titlebar-center .actions-container - Big actions button in the VSCode header.
 *  .context-view.monaco-component.top.left - Some weird bubble that keeps popping up.
 *  .monaco-inputbox input::placeholder - Input placeholder text in the command palette.
 */
.titlebar-center { display: none !important; }
/* .context-view.monaco-component.top.left { display: none !important; } */
.monaco-inputbox input::placeholder { color: #fff1 !important; }
/* Darken main window when command palette is open */
.monaco-grid-view { transition: filter 0.2s; }  
.monaco-workbench:has(> .quick-input-widget):not(:has(> .quick-input-widget[style*="display: none"])) {
  .monaco-grid-view { filter: brightness(75%) !important; }
}

/*----------------------------------
 * File Tabs
 *-------------------------------- */
.sidebar.left { border-right: 1px solid #0000 !important; }
.basepanel.right { border-left: 1px solid #0000 !important; }
.tabs-and-actions-container .tabs-container > .tab {
  border-top-left-radius: 8px !important;
  border-top-right-radius: 8px !important;
}

/*----------------------------------
 * Editor (rounded corners)
 *-------------------------------- */
.monaco-breadcrumbs { border-top-right-radius: 8px; }
.editor .content { border-bottom-left-radius: 8px; border-bottom-right-radius: 8px; }

/*----------------------------------
 * Scrollbar
 *-------------------------------- */
.decorationsOverviewRuler,
.xterm-decoration-overview-ruler {
  width: 8px !important;
  opacity: 0.5;
}
.slider {
  position: absolute !important;
  right: 1px !important;
  width: 5px !important;
  border-radius: 3px;
  left: auto !important;
}

/*----------------------------------
 * Composite Header Custom Icons
 * https://icon-sets.iconify.design
 *-------------------------------- */
.composite.header .action-label[aria-label^='Aikido']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 19.9q2.425-.75 4.05-2.962T17.95 12H12V4.125l-6 2.25v5.175q0 .175.05.45H12zm0 2q-.175 0-.325-.025t-.3-.075Q8 20.675 6 17.638T4 11.1V6.375q0-.625.363-1.125t.937-.725l6-2.25q.35-.125.7-.125t.7.125l6 2.25q.575.225.938.725T20 6.375V11.1q0 3.5-2 6.538T12.625 21.8q-.15.05-.3.075T12 21.9'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Bookmarks']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='m17 18l-5-2.18L7 18V5h10m0-2H7a2 2 0 0 0-2 2v16l7-3l7 3V5a2 2 0 0 0-2-2'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Chat']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16'%3E%3Cpath fill='%23000' d='M7.998 15.035c-4.562 0-7.873-2.914-7.998-3.749V9.338c.085-.628.677-1.686 1.588-2.065q.019-.105.036-.218c.029-.183.06-.384.126-.612c-.201-.508-.254-1.084-.254-1.656c0-.87.128-1.769.693-2.484c.579-.733 1.494-1.124 2.724-1.261c1.206-.134 2.262.034 2.944.765q.075.08.139.165q.068-.085.143-.165c.682-.731 1.738-.899 2.944-.765c1.23.137 2.145.528 2.724 1.261c.566.715.693 1.614.693 2.484c0 .572-.053 1.148-.254 1.656c.066.228.098.429.126.612q.018.113.037.218c.924.385 1.522 1.471 1.591 2.095v1.872c0 .766-3.351 3.795-8.002 3.795m0-1.485c2.28 0 4.584-1.11 5.002-1.433V7.862l-.023-.116c-.49.21-1.075.291-1.727.291c-1.146 0-2.059-.327-2.71-.991A3.2 3.2 0 0 1 8 6.303a3.2 3.2 0 0 1-.544.743c-.65.664-1.563.991-2.71.991c-.652 0-1.236-.081-1.727-.291l-.023.116v4.255c.419.323 2.722 1.433 5.002 1.433M6.762 2.83c-.193-.206-.637-.413-1.682-.297c-1.019.113-1.479.404-1.713.7c-.247.312-.369.789-.369 1.554c0 .793.129 1.171.308 1.371c.162.181.519.379 1.442.379c.853 0 1.339-.235 1.638-.54c.315-.322.527-.827.617-1.553c.117-.935-.037-1.395-.241-1.614m4.155-.297c-1.044-.116-1.488.091-1.681.297c-.204.219-.359.679-.242 1.614c.091.726.303 1.231.618 1.553c.299.305.784.54 1.638.54c.922 0 1.28-.198 1.442-.379c.179-.2.308-.578.308-1.371c0-.765-.123-1.242-.37-1.554c-.233-.296-.693-.587-1.713-.7'/%3E%3Cpath fill='%23000' d='M6.25 9.037a.75.75 0 0 1 .75.75v1.501a.75.75 0 0 1-1.5 0V9.787a.75.75 0 0 1 .75-.75m4.25.75v1.501a.75.75 0 0 1-1.5 0V9.787a.75.75 0 0 1 1.5 0'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Claude Code']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M8.644 2.553a1 1 0 1 0-1.788.894L9.68 9.1L5.067 5.926a1 1 0 0 0-1.134 1.648l5.472 3.762L3.053 11a1 1 0 1 0-.106 2l5.795.305l-4.297 2.864a1 1 0 1 0 1.11 1.664l3.642-2.428l-2.51 3.515a1 1 0 1 0 1.627 1.162l3.033-4.246l-.833 5a1 1 0 0 0 1.972.33l.802-4.812l2.37 3.688a1 1 0 0 0 1.683-1.082l-1.786-2.778l2.767 2.554a1 1 0 0 0 1.356-1.47l-3.035-2.802l4.233.53a1 1 0 0 0 .248-1.985l-4.19-.524l4.295-1.01a1 1 0 1 0-.458-1.947l-5.59 1.315l4.105-5.224a1 1 0 1 0-1.572-1.236L13.857 9.29l.881-5.636a1 1 0 1 0-1.976-.308l-.886 5.67z'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='DBCode']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 3C7.58 3 4 4.79 4 7v10c0 2.21 3.59 4 8 4s8-1.79 8-4V7c0-2.21-3.58-4-8-4m6 14c0 .5-2.13 2-6 2s-6-1.5-6-2v-2.23c1.61.78 3.72 1.23 6 1.23s4.39-.45 6-1.23zm0-4.55c-1.3.95-3.58 1.55-6 1.55s-4.7-.6-6-1.55V9.64c1.47.83 3.61 1.36 6 1.36s4.53-.53 6-1.36zM12 9C8.13 9 6 7.5 6 7s2.13-2 6-2s6 1.5 6 2s-2.13 2-6 2'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Debug Console']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14 12h-4v-2h4m0 6h-4v-2h4m6-6h-2.81a6 6 0 0 0-1.82-1.96L17 4.41L15.59 3l-2.17 2.17a6 6 0 0 0-2.83 0L8.41 3L7 4.41l1.62 1.63C7.88 6.55 7.26 7.22 6.81 8H4v2h2.09c-.05.33-.09.66-.09 1v1H4v2h2v1c0 .34.04.67.09 1H4v2h2.81c1.04 1.79 2.97 3 5.19 3s4.15-1.21 5.19-3H20v-2h-2.09c.05-.33.09-.66.09-1v-1h2v-2h-2v-1c0-.34-.04-.67-.09-1H20z'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Explorer']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M14 2H6a2 2 0 0 0-2 2v16c0 1.11.89 2 2 2h12c1.11 0 2-.89 2-2V8zm4 18H6V4h7v5h5zm-8.46-4.35l2.09 2.09L10.35 19L7 15.65l3.35-3.35l1.28 1.26zm7.46 0L13.65 19l-1.27-1.26l2.09-2.09l-2.09-2.09l1.27-1.26z'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Extensions']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M21 16.5c0 .38-.21.71-.53.88l-7.9 4.44c-.16.12-.36.18-.57.18s-.41-.06-.57-.18l-7.9-4.44A.99.99 0 0 1 3 16.5v-9c0-.38.21-.71.53-.88l7.9-4.44c.16-.12.36-.18.57-.18s.41.06.57.18l7.9 4.44c.32.17.53.5.53.88zM12 4.15L6.04 7.5L12 10.85l5.96-3.35zM5 15.91l6 3.38v-6.71L5 9.21zm14 0v-6.7l-6 3.37v6.71z'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Output']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath d='M14 14h-4v-3H8l4-4l4 4h-2v3m-9.01 1V5H19v10h-4a3 3 0 1 1-6 0H4.99M19 3H4.99c-1.104 0-1.98.895-1.98 2L3 19c0 1.105.886 2 1.99 2H19a2 2 0 0 0 2-2V5a2 2 0 0 0-2-2' fill='%23000'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Ports']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13 19h1a1 1 0 0 1 1 1h7v2h-7a1 1 0 0 1-1 1h-4a1 1 0 0 1-1-1H2v-2h7a1 1 0 0 1 1-1h1v-2H4a1 1 0 0 1-1-1v-4a1 1 0 0 1 1-1h16a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1h-7zM4 3h16a1 1 0 0 1 1 1v4a1 1 0 0 1-1 1H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1m5 4h1V5H9zm0 8h1v-2H9zM5 5v2h2V5zm0 8v2h2v-2z'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Problems']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M12 2L1 21h22M12 6l7.53 13H4.47M11 10v4h2v-4m-2 6v2h2v-2'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Project Manager']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M4 4c-1.11 0-2 .89-2 2v12a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2V8a2 2 0 0 0-2-2h-8l-2-2zm0 4h16v10H4zm8 1v2h3V9zm4 0v2h3V9zm-4 3v2h3v-2zm4 0v2h3v-2zm-4 3v2h3v-2zm4 0v2h3v-2z'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Remote Explorer']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M3 2a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h7v2H8v2h8v-2h-2v-2h7a2 2 0 0 0 2-2V4a2 2 0 0 0-2-2M3 4h18v12H3M15 5l-3.5 3.5L15 12l1.4-1.4l-2.1-2.1l2.1-2.1M9 8L7.6 9.4l2.1 2.1l-2.1 2.1L9 15l3.5-3.5'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Run and Debug']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M19 7h-2.81c-.45-.8-1.07-1.5-1.82-2L16 3.41L14.59 2l-2.17 2.17a6 6 0 0 0-2.83 0L7.41 2L6 3.41L7.62 5c-.75.5-1.36 1.21-1.81 2H3v2h2.09c-.06.33-.09.66-.09 1v1H3v2h2v1c0 .34.03.67.09 1H3v2h2.81A6 6 0 0 0 13 19.65V19c0-2.54 1.61-4.8 4-5.65V13h2v-2h-2v-1c0-.34-.03-.67-.09-1H19zm-6 8H9v-2h4zm0-4H9V9h4zm4 5v6l5-3z'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Search']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M9.5 3A6.5 6.5 0 0 1 16 9.5c0 1.61-.59 3.09-1.56 4.23l.27.27h.79l5 5l-1.5 1.5l-5-5v-.79l-.27-.27A6.52 6.52 0 0 1 9.5 16A6.5 6.5 0 0 1 3 9.5A6.5 6.5 0 0 1 9.5 3m0 2C7 5 5 7 5 9.5S7 14 9.5 14S14 12 14 9.5S12 5 9.5 5'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Source Control']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M13 14c-3.36 0-4.46 1.35-4.82 2.24C9.25 16.7 10 17.76 10 19a3 3 0 0 1-3 3a3 3 0 0 1-3-3c0-1.31.83-2.42 2-2.83V7.83A2.99 2.99 0 0 1 4 5a3 3 0 0 1 3-3a3 3 0 0 1 3 3c0 1.31-.83 2.42-2 2.83v5.29c.88-.65 2.16-1.12 4-1.12c2.67 0 3.56-1.34 3.85-2.23A3.01 3.01 0 0 1 14 7a3 3 0 0 1 3-3a3 3 0 0 1 3 3c0 1.34-.88 2.5-2.09 2.86C17.65 11.29 16.68 14 13 14m-6 4a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1M7 4a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1m10 2a1 1 0 0 0-1 1a1 1 0 0 0 1 1a1 1 0 0 0 1-1a1 1 0 0 0-1-1'/%3E%3C/svg%3E"); }
.composite.header .action-label[aria-label^='Terminal']::before { mask-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 24 24'%3E%3Cpath fill='%23000' d='M20 19V7H4v12zm0-16a2 2 0 0 1 2 2v14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2zm-7 14v-2h5v2zm-3.42-4L5.57 9H8.4l3.3 3.3c.39.39.39 1.03 0 1.42L8.42 17H5.59z'/%3E%3C/svg%3E"); }
/* --- */
.composite.header .action-label[aria-label^='Aikido'],
.composite.header .action-label[aria-label^='Bookmarks'],
.composite.header .action-label[aria-label^='Chat'],
.composite.header .action-label[aria-label^='Claude Code'],
.composite.header .action-label[aria-label^='DBCode'],
.composite.header .action-label[aria-label^='Debug'],
.composite.header .action-label[aria-label^='Explorer'],
.composite.header .action-label[aria-label^='Extensions'],
.composite.header .action-label[aria-label^='Output'],
.composite.header .action-label[aria-label^='Ports'],
.composite.header .action-label[aria-label^='Problems'],
.composite.header .action-label[aria-label^='Project Manager'],
.composite.header .action-label[aria-label^='Remote Explorer'],
.composite.header .action-label[aria-label^='Run and Debug'],
.composite.header .action-label[aria-label^='Search'],
.composite.header .action-label[aria-label^='Source Control'],
.composite.header .action-label[aria-label^='Terminal'] {
  /* Remove all base styles */
  /* We'll use the before pseudo-element for the icon */
  --vscode-activityBarTop-foreground: transparent !important;
  mask-image: none !important;
  mask-mode: none !important;
  background-color: transparent !important;
  margin-right: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  &::before {
    content: " " !important;
    background-color: var(--accent) !important;
    width: 19px;
    height: 19px;
    position: absolute;
    top: 0px !important;
    left: 0px !important;
    opacity: 0.6;
    transition: opacity 0.2s;
    &:hover { opacity: 1; }
  }
}

/* Style for All Icons */
.composite.header {
  .action-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px 5px !important;
    &:hover .action-label::before { opacity: 1; }
  }
  .action-item[aria-selected=true] .action-label::before { opacity: 1; }
  .action-item[aria-selected=true] .active-item-indicator::before {
    background-color: var(--accent) !important;
    border-radius: 2px !important;
    border-width: 0px !important;
    bottom: 1px !important;
    height: 3px !important;
    left: 5px !important;
    width: 15px !important;
  }
}


/*----------------------------------
 * Title Bar Actions
 * Hidden by default
 *-------------------------------- */
.titlebar .actions-container {
  opacity:0;
  transition:var(--transition);
  &:hover { opacity:1; }
}

/*----------------------------------
 * Pane Headers
 *-------------------------------- */
.monaco-pane-view .pane > .pane-header {
  .twisty-container.codicon { opacity:0; }
}

/*----------------------------------
 * Status Bar (footer)
 *-------------------------------- */
footer.statusbar {
  > .items-container { opacity: 0.6; transition: var(--transition); }
  &:hover > .items-container { opacity: 1; }
}

/*----------------------------------
 * Color Picker Decoration
 *-------------------------------- */
.colorpicker-color-decoration {
  border: 1px solid #fff1 !important;
  border-radius: 2px;
  position: relative;
  top: -1px;
  height: 9px !important;
  width: 9px !important;
}

/*----------------------------------
 * Cleaner Copilot UI
 *-------------------------------- */
.interactive-session {
  max-width: 100% !important;
}
.interactive-item-container.interactive-request .value .rendered-markdown {
  background-color: #141413aa !important;
  color: #ddc !important;
  font-family: "Anthropic Sans" !important;
  letter-spacing: 0.2px;
}
.interactive-item-container .value .rendered-markdown {
  font-family: "Anthropic Serif" !important;
  font-size: 1.1em;
  /* color: #bba; */
  h2,h3,h4 { color: #ccb; }
}
.interactive-result-code-block .view-lines.monaco-mouse-cursor-text > div {
  font-size: 12px !important;
}
.checkpoint-container {
  opacity: 0.4;
}
